.flagIconTag {
  display: block;
  text-decoration: auto;
  color: black;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
}
.currentLanguage {
  color: #ffffff;
}
.currentLanguageSelection {
  postion: reletive;
}
.LanguageSelection {
  display: none;
  position: absolute;
  background-color: white;
  width: 15%;
  border: none;
  border-radius: 8px;
  padding: 5px;
}
.currentLanguageOpen {
  display: block;
  position: absolute;
}
