body {
  background-image: url('../images/background.png');
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-form {
  background: #fff;
  border-radius: 8px;
  opacity: 1;
}

.clickAbleButton {
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s ease;
}
.buttonContainerLight {
  width: 384px;
  height: 48px;
  background: transparent 0 0 no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
.buttonContainerPrimary {
  background: #0000f9 0 0 no-repeat padding-box;
  width: 384px;
  height: 48px;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
.buttonPrimaryText {
  color: #fff;
}

.buttonLightText {
  color: #4b4b5e;
}
.loginBoxContainer {
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.changeLanguageButtonStyle {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
.changeLanguageButtonItemStyle {
  margin: 5px;
  color: #fff;
  border: none;
}
